/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
@OS: "OS", sans-serif;
@Montserrat: "Montserrat", sans-serif;

/* ===============   Colors   ============== */

@light-blue:#5E9CA3;
@light-blue-text:#9FD3D1;
@dark:#4D4D4D;
@white:#FFFFFF;
@grey:#CCCCCC;
@black:#000000;
@red:#934141;

/* ===============   Sizes   ============== */
@ma: 0 auto;
